img.contact {
	width:32px;
	height:32px;
	cursor:pointer;
	margin-top:5px;
}
h3.section-header {
	padding-top: 45px;
}

.app-icons {
	padding:10px;
	background:whiteSmoke;
}

img.app-icon {
	width: 32px;
	height:32px;
	margin: 0 5px;
	cursor:pointer;
}

@media (max-width: 767px) {
	.sidebar-nav.affix {
	  position: static;
	  width: auto;
	  top: 0;
	}
}