img.contact {
	width:32px;
	height:32px;
	cursor:pointer;
	margin-top:5px;
}
h3.section-header {
	padding-top: 45px;
}

img.android {
	width: 64px;
	height:64px;
	cursor:pointer;
}

@media (max-width: 767px) {
	.sidebar-nav.affix {
	  position: static;
	  width: auto;
	  top: 0;
	}
}