body::-webkit-scrollbar {
 display: none;
}

.slide-bg {
  position: relative;
  height: 96vh;
  width: 96vw;
  margin: 2vh 2vw 5vh;
  padding: 3em;

  background: rgba(242,246,248,1) ;
  background: -moz-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 55%, rgba(181,198,208,1) 86%, rgba(224,239,249,1) 100%) ;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(55%, rgba(216,225,231,1)), color-stop(86%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1))) ;
  background: -webkit-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 55%, rgba(181,198,208,1) 86%, rgba(224,239,249,1) 100%) ;
  background: -o-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 55%, rgba(181,198,208,1) 86%, rgba(224,239,249,1) 100%) ;
  background: -ms-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 55%, rgba(181,198,208,1) 86%, rgba(224,239,249,1) 100%) ;
  background: linear-gradient(135deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 55%, rgba(181,198,208,1) 86%, rgba(224,239,249,1) 100%) ;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );

  border: solid 1px #DDD;
  border-radius: 3px;
}

/*.slide-bg:before,*/
.slide-bg:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.slide-bg:after
{
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  right: 10px;
  left: auto;
}

.slide-bg h1.title {
  font-size: 3em;
  text-transform: capitalize;
}

.slide-bg .center-title {
  font-size: 3em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.slide-bg .center-title h1 {
  font-size: 2em;
  text-transform: capitalize;
}

.slide-content {
  position: relative;
  display: block;
  height: 100%;
}

.slide-content .text {
  margin: 3em 2em;
  font-size: 2em;
}

.slide-content .text ul li{
  text-transform: capitalize;
}

.slide-content .full-image {
  width: 100%;
  height: 90%;
}

.slide-content .right-image {
  height: 70%;
  width: 33%;
  float: right;
}

.right-image img, .full-image img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
}

.clickable {
  cursor: pointer;
}

.slide-bg span.toc {
  position: absolute;
  top: calc(100% - 3em);
  left: 2em;
  opacity: 0.1;
  filter: alpha(opacity=10); /* For IE8 and earlier */
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.slide-bg span.toc:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

p.contact {
  font-size: 75%;
  margin: 2em;
}