<div class="slide-bg">
  <div class="center-title" align="center">
    <h1>{ Obada Kadri }</h1>
    ["Application Developer"].portfolio( )
    </h1>
  </div>
</div>

<div class="slide-bg">
  <h1 class="title" align="center">
    Roadmap
  </h1>
  <div class="slide-content">
    <div class="right-image">
      <img src="/assets/img/portfolio/welcome/roadmap.png" alt="Roadmap">
    </div>
    <div class="text">
      <ul>
        <li ng-click="goToSlide(1)" class="clickable">DSS Messenger</li>
        <li ng-click="goToSlide(2)" class="clickable">Chekhov: Simple Checklists</li>
        <li ng-click="goToSlide(3)" class="clickable">Wayfinding</li>
        <li ng-click="goToSlide(4)" class="clickable">Data-Warehouse</li>
        <li ng-click="goToSlide(5)" class="clickable">Instructional Planning And Administration (IPA)</li>
        <li ng-click="goToSlide(6)" class="clickable">Abjad</li>
        <li ng-click="goToSlide(7)" class="clickable">Ashkal wa Alwan</li>
        <li ng-click="goToSlide(8)" class="clickable">Qamoosi</li>
        <li ng-click="goToSlide(9)" class="clickable">Lease Miles Widget</li>
        <li ng-click="goToSlide(10)" class="clickable">Dinner Planner</li>
        <li ng-click="goToSlide(11)" class="clickable">Conclusion</li>
      </ul>
    </div>
  </div>
</div>
